*{
  font-family: "Poppins", sans-serif;
 }
 
.h-font{
  font-family: "Merienda", cursive;
}


/* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }


.custom-bg{
        background-color: #2ec1ac;
        border: 1px solid #279eBc;
}

.custom-bg:hover{
        background-color: #279eBc;
        border-color: #279e8c;
}

.availability-form{
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

@media screen and (max-width:575px){
    .availability-form{
    margin-top: 0px;
    padding: 0 35px;
  }
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.pop:hover{
    border-top-color: #2ec1ac !important;
    transform: scale(2.0);
    transition: all 0.9s;
}

.box{
    border-top-color: #2ec1ac !important;
}

